<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="stylesheet" href="static/css/aboutus.css">
    <link rel="stylesheet" href="static/css/1.css">

    <title>About us</title>
</head>
<body>
    <div>
<div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <nav class="navbar">
      <ul>
        <li><a id="car-pre">Car-Pre</a></li>
        <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/sell"><i class="fas fa-home"></i> Predict</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sell2">Sale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buy">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
      </ul>
    </nav>
<div id="end">
    <div class="row1">
        <div class="column1">
    <div class="card">
        <img src="static/pic/yash.JPG" alt="John" width="100%">
        <h1 id="name">Yash kalam</h1>
        <p class="title">CEO & Founder</p>
        <p id="college">walchand college of enginerring</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
        <p><button>Contact</button></p>
    </div>
        </div>
        <div class="column1">
            <div class="card">
                <img src="static/pic/uday2.jpg" alt="John" width="100%">
                <h1 id="name">Uday Gadikar</h1>
                <p class="title">co-founder & editor</p>
                <p id="college">walchand college of enginerring</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
                <p><button>Contact</button></p>
            </div>
                </div>
                <div class="column1">
                    <div class="card">
                        <img src="static/pic/prajwal.jpeg" alt="John" width="100%">
                        <h1 id="name">Prajwal yadhav</h1>
                        <p class="title">manager & content creator</p>
                        <p id="college">walchand college of enginerring</p>
                        <div style="margin: 24px 0;">
                          <a href="#"><i class="fa fa-dribbble"></i></a> 
                          <a href="#"><i class="fa fa-twitter"></i></a>  
                          <a href="#"><i class="fa fa-linkedin"></i></a>  
                          <a href="#"><i class="fa fa-facebook"></i></a> 
                        </div>
                        <p><button>Contact</button></p>
                    </div>
                        </div>
    </div>
    <footer>
        <span>Created By Yash kalam | <span class="far fa-copyright"></span> 2022 All rights reserved.</span>
      </footer>
</body>
</html>